* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    /* big container */
    margin: 0;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-size: medium;
    font-weight: normal;
}

h1 {
    align-content: center;
    /* so that Log in is centered
    in the heading
    instead of stuck to the top */
}

.header {

    /* header box model */
    /* space between the text & border */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    /* more padding from left */

    /*header border style*/
    border-width: 1px;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background-color: rgb(245, 195, 66);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* ask for help aligning content in header
    in a way that makes more sense */

    /* header doesn't need to be so tall, so height 20% */
    height: 20%;
}

.header-text {
    margin-bottom:1px; 
    /* ask for help 
    finding a different way 
    to align header text */
}

.logo-box {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: blue;
    height: 50px;
    width: 50px;
    align-self: center;
}

.nav-container {

    height: 8%;
    padding: 1%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;

    /* nav's space between header, nav, & aside-main */
    margin-top: 1%;
    margin-bottom: 1%;

    /* margin-top & margin-bottom in main
    are what make the space between header & aside-main.

    justify space between in body is what sticks
    header box & footer box to bottom of browser window. */
}


.nav-item1,
.nav-item2,
.nav-item3,
.nav-item4 {

    align-content: center; /* centers nav text */

    /* nav box model */
    height: 100%;
    margin-left: 2%;
    padding-left: 5%;
    padding-right: 5%;

    /* for space between nav items & nav text & border */

    /* nav border style */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background-color: orchid;

    /* nav text */
    color: rgb(38, 38, 38);
}

.aside-main {

    align-items: center;
    /* align vertically between header&footer */

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* box model */
    margin-top: 10px;
    margin-bottom: 20px;

    /* margin-top & margin-bottom
    are what make the space between boxes.

    justify space between in body is what sticks
    header & footer to bottom of browser window. */
}

.aside {

    margin-right: 5px;
    /* ask Guadalupe if this is in alignment w/ her creative vision 
    (was I supposed to make space a different way) */

    flex-grow: 1;
    /*it's going to take up half as much room side-to-side as main */

    /* aside box model (for text) */
    padding: 5px;
    /* for space between aside's border & text */

    /* aside border style */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background-color: rgb(191, 191, 191);

    /* text style */
    color: rgb(38, 38, 38);

    text-align: center;
}

.main {

    margin-left: 5px;
    /* ask Guadalupe if this is in alignment w/ her creative vision 
    (was I supposed to make space a different way) */

    flex-grow: 2;
    /* it's going to take up twice as much room side-to-side as aside */

    /* main box model (for text) */
    padding: 5px;
    /* for space between main text & border */

    /* main border style */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background-color: rgb(119, 194, 188);

    /* text style */
    color: rgb(38, 38, 38);
    text-align: center;
}

.footer {

    /* footer box model */
    padding-top: 5px;
    /* so the text "footer" has space from top border */
    padding-left: 20px;
    /* more space from left edge */

    /* footer border style */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background-color: rgb(79, 173, 234);

    /* footer text */
    color: rgb(38, 38, 38);

    /* making footer smaller to give aside & main more room*/
    height: 15%;
}