* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    /* big container */
    margin: 0;
    height: 100%;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;


    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: medium;
    font-weight: normal;
    align-content: center;
    /* align-content: center; for h1
    gets "Log-in" centered
    instead of stuck to the top */
}

.header {

    /* header box model */
    /* space between the text & border */
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    /* more padding from left */

    /*header border style*/
    border-width: 1px;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: rgb(245, 195, 66);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    /* ask for help aligning content in header
    in a way that makes more sense */

    /* header doesn't need to be so tall, so height 20% */
    height: 20%;
}

.logo-box {
    border-style: solid;
    border-width: 1%;
    border-color: black;
    background: blue;
    height: 95%;
    width: 15%;


    background: rgb(79, 173, 234);
}

.nav-container {

    height: 8%;
    padding: 1.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* nav's space between header, nav, & aside-main */


    /* margin-top & margin-bottom in main
    are what make the space between header & aside-main.

    justify space between in body is what sticks
    header box & footer box to bottom of browser window. */
}


.nav-item1,
.nav-item2,
.nav-item3,
.nav-item4 {

    align-content: center;
    /* so the text 
    isn't stuck to the top */

    /* nav box model */
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;

    /* for space between nav items & nav text & border */

    /* nav border style */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: orchid;

    /* nav text */
    color: rgb(38, 38, 38);
}

.aside-main {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
    flex-basis: auto;
}



.aside {

    margin-right: 1%;
    /* ask Guadalupe if this is in alignment w/ her creative vision 
    (was I supposed to make space a different way) */

    /* aside box model (for text) */
    padding: 1%;
    /* for space between aside's border & text */

    /* aside border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: rgb(191, 191, 191);

    /* text style */
    color: rgb(38, 38, 38);

    text-align: center;
    min-width: 20%;
}

.main {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    flex-shrink:4;

    display: flex;
    flex-direction: row;

    margin-left: 1%;
    /* ask Guadalupe if this is in alignment w/ her creative vision 
    (was I supposed to make space a different way) */

    /* main box model (for text) */
    padding: 1%;
    /* for space between main text & border */

    /* main border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: rgb(119, 194, 188);

    /* text style */
    color: rgb(38, 38, 38);

}

h4 {
    text-align: center;
    text-transform: uppercase;
}
.main-text {
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    background: white;
}

.main-image {
    flex-basis: 2;
    min-width: 45%;
}

img {
    max-width: 100%;
    /* ask for help making the background of image transparent */
}


.footer {
    max-height: 20%;
    margin-top: 1.5%;

    /* footer flex */
    display: flex;
    flex-direction: column;

    /* footer box model */

    padding: 1%;


    /* footer border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: rgb(79, 173, 234);

    /* footer text */
    color: rgb(38, 38, 38);
}

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;

}


/* footer subitems */

.box1,
.about-us,
.support,
.social-connect {

    /* sub-item box style */
    border-style: solid;
    border-color: black;
    border-width: 1%;
    background: rgb(119, 194, 188);

    min-width: 15%;
    max-height: 90%;

    /* sub-item box model */
    /*
    max-height: min-content;
    /* max-height: min-content; 
    made my subitem boxes go from weirdly tall
    to only as tall as they need to be. I liked it. */


    /* sub-item text */
    color: aliceblue;
    text-align: center;
    align-content: center;
    /* align-content
    & the text was stuck to the top 
    w/o align-content: center; */

}

.box1 {
    background: rgb(79, 173, 234);
}