* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    /* biggest container */
    margin: 0;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-part {
    /* big container */
    margin: 0;
    height: 85%;
    background: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header {
    flex-shrink: 1;
    width: 20%;

    /*header border style*/
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: yellow;
}

.aside-main {
    flex-shrink: 1;

    flex-basis: 48%;

    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.aside {
    width: 100%;
    height: 45%;

    /* aside border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: blue;
}

.main {

    width: 100%;
    height: 45%;

    /* main border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: rgb(191, 191, 191);
}

.article {

    width: 28%;

    /* article border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: cyan;

}

.footer {
    width: 100%;
    height: 10%;

    /* footer border style */
    border-width: 1%;
    border-style: solid;
    border-color: red;
    background: red;
}