* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    /* big container */
    margin: 0;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header {
    flex-shrink: 1;
    width: 20%;

    /*header border style*/
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background-color: yellow;
}

.aside-main {
    flex-shrink: 1;

    flex-basis: 48%;

    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.aside {
    width: 100%;
    height: 45%;

    /* aside border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background-color: blue;
}

.main {

    width: 100%;
    height: 45%;

    /* main border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background-color: rgb(191, 191, 191);
}

.footer {

    width: 28%;
    
    /* footer box model */


    /* footer border style */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background-color: cyan;

    /* footer text section */
    /* color meter says this text isn't quite black */
    color: rgb(38, 38, 38);
}