* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    /* big container */
    margin: 0;
    height: 100%;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 150px;
    /*header border style*/
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: rgb(245, 195, 66);

    margin-bottom: 1%;
}

.nav-container {

    height: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* nav's space between header & aside-main */
    margin-top: 1%;
    margin-bottom: 1%;

    /* margin-top & margin-bottom in main
    are what make the space between header & aside-main.

    justify space between in body is what sticks
    header box & footer box to bottom of browser window. */
}

.nav-item1,
.nav-item2,
.nav-item3,
.nav-item4,
.nav-item5,
.nav-item6 {
    height: 100%;
    /* to fill 100% of nav container, which had height 15% */
    width: 15%;


}

.nav-item1,
.nav-item2,
.nav-item5,
.nav-item6 {

    /* nav border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: orchid;
}

.aside-main {
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* align vertically between header&footer */

    /* box model */
    margin-top: 1%;
    margin-bottom: 1%;

    /* margin-top & margin-bottom
    are what make the space between boxes.

    justify space between in body is what sticks
    header & footer to bottom of browser window. */
}

.aside {

    margin-right: 1%;
    /* ask Guadalupe if this is in alignment w/ her creative vision 
    (was I supposed to make space a different way) */

    flex-grow: 1;
    /* flex-grow 1  means aside is 
    going to take up half as much room 
    side-to-side as main flex-grow 2 */

    /* aside border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: rgb(191, 191, 191);
}

.main {

    margin-left: 1%;
    /* ask Guadalupe if this is in alignment w/ her creative vision 
    (was I supposed to make space a different way) */

    flex-grow: 2;
    /* flex-grow:2 means main is 
    going to take up twice as much room 
    side-to-side as aside flex:grow 1 */

    /* main border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: rgb(119, 194, 188);
}

.footer {
    height: 150px;
    /* footer border style */
    border-width: 1%;
    border-style: solid;
    border-color: rgb(30, 70, 94);
    background: rgb(79, 173, 234);
}